APP_NAME=Namaa
APP_ENV=local
APP_KEY=base64:GlOL9SNOp9ykG93sDRg0K98fFYmuCQ/SeLYkik91mZ0=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=charity
DB_USERNAME=root
DB_PASSWORD=

SECOND_DB_CONNECTION=mysql
SECOND_DB_HOST=127.0.0.1
SECOND_DB_PORT=3306
SECOND_DB_DATABASE=namaa_server
SECOND_DB_USERNAME=root
SECOND_DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Email
MAIL_STATUS= true
MAIL_MAILER=smtp
MAIL_HOST=email-smtp.eu-west-3.amazonaws.com
MAIL_PORT=587
MAIL_USERNAME=AKIAQOECUEZNGGFV65V5
MAIL_PASSWORD=BOVYfnUWZe+eBrdd9GGQYWNLGh7RlU0pUSvay9qwyZUn
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="it@namaa.sa"
MAIL_FROM_NAME="Namaa.store"

# SMS
SMS_STATUS=true
SMS_GATWAY=taqnyat
SMS_GATURL=https://api.taqnyat.sa/v1/messages
SMS_USERNAME=namaa.store
SMS_SENDERNAME=NAMAA.SA
SMS_PASSWORD=993807dc8cf53bff5def5d9b5e6c8d34

# Whats APP
WHATS_STATUS=true
WHATS_GATURL=https://live-server-7148.wati.io/api/v1/sendTemplateMessage
WHATS_ACCESSTOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI3NTNjNDlhZS1hOGVmLTQzNmItYWM3NC1kZjVmN2RjMDZkZTgiLCJ1bmlxdWVfbmFtZSI6InRhbWF5b3ouY29tQGdtYWlsLmNvbSIsIm5hbWVpZCI6InRhbWF5b3ouY29tQGdtYWlsLmNvbSIsImVtYWlsIjoidGFtYXlvei5jb21AZ21haWwuY29tIiwiYXV0aF90aW1lIjoiMTEvMTcvMjAyMiAwODoxNDoxMSIsImRiX25hbWUiOiI3MTQ4IiwiaHR0cDovL3NjaGVtYXMubWljcm9zb2Z0LmNvbS93cy8yMDA4LzA2L2lkZW50aXR5L2NsYWltcy9yb2xlIjpbIlRFTVBMQVRFX01BTkFHRVIiLCJERVZFTE9QRVIiXSwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.if4Mq2s12aemMlyIr2IeTC9RYpV0v-mjzDhd7Btc8Qg

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

HASH_KEY="9d13bef835019583243b97bab19a2308549811ea27347b82e9c28bdd165ac2b1"
HASH_IV_KEY="b32710e8207fb55a" 


TEST_MODE=true                              # Defines wether to activate the payfort sandbox enviroment or not.
PAYFORT_MERCHANT_IDENTIFIER="BiZjlLxK"          # The payfort merchant account identifier
PAYFORT_ACESS_CODE="PFEiLpPP5luIGAsOyoFy"       # The payfort account access code
PAYFORT_SHA_TYPE="sha256"                       # The payfort account sha type. sha256/sha512
PAYFORT_SHAR_REQUEST_PHARSE="egvierrbvjb"
PAYFORT_SHAR_RESPONSE_PHRASE="fvywgyswiui"

#apple pay
CERTIFICATE_KEY="site/applepay/certificate/namaa.key.pem"
CERTIFICATE_PATH="site/applepay/certificate/namaa.crt.pem"
CERTIFICATE_KEY_PASS="1234Five"
PRODUCTION_CURRENCYCODE="SAR"
PRODUCTION_COUNTRYCODE="SA"
PRODUCTION_DISPLAYNAME="Namaa"

